name: Build and push containers

on:
  # push:
  # pull_request:
  workflow_dispatch:
    inputs:
      release:
        description: "Release to deploy (empty for snapshots)"
        required: false
      target:
        description: "Single target to build (empty for all)"
        required: false

  schedule:
    - cron: "0 5 * * *" # daily snapshot
    - cron: "0 6 * * 0" # weekly 22.03-SNAPSHOT
    - cron: "0 7 * * 0" # weekly 21.02-SNAPSHOT

jobs:
  generate_matrix:
    name: Set matrix for SDKs
    runs-on: ubuntu-latest
    outputs:
      imagebuilders: ${{ steps.find_targets.outputs.imagebuilders }}
      rootfs: ${{ steps.find_targets.outputs.rootfs }}
      sdks: ${{ steps.find_targets.outputs.sdks }}
      release: ${{ steps.find_targets.outputs.release }}
      suffix: ${{ steps.find_targets.outputs.suffix }}

    steps:
      - name: Set relase to 22.03-SNAPSHOT
        if: github.event.schedule == '0 6 * * 0'
        run: |
          echo "RELEASE=22.03-SNAPSHOT" >> "$GITHUB_ENV"
          echo "REF=openwrt-22.03" >> "$GITHUB_ENV"

      - name: Set relase to 21.02-SNAPSHOT
        if: github.event.schedule == '0 7 * * 0'
        run: |
          echo "RELEASE=21.02-SNAPSHOT" >> "$GITHUB_ENV"
          echo "REF=openwrt-21.02" >> "$GITHUB_ENV"

      - name: Set relase manually
        if: github.event.inputs.release != ''
        run: |
          echo "RELEASE=${{ github.event.inputs.release }}" >> "$GITHUB_ENV"
          echo "REF=v${{ github.event.inputs.release }}" >> "$GITHUB_ENV"

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: openwrt/openwrt
          ref: ${{ env.REF}}

      - name: Set targets and release
        id: find_targets
        run: |
          TARGET_FILTER="${{ github.event.inputs.target }}"

          # imagebuilders & rootfs
          JSON_IB='['
          FIRST_IB=1

          JSON_ROOTFS='['
          FIRST_ROOTFS=1

          while read -r line;
          do
            TARGET=$(echo "$line" | cut -d " " -f 1)
            ARCH=$(echo "$line" | cut -d " " -f 2)

            [[ $FIRST_IB -ne 1 ]] && JSON_IB="$JSON_IB"','
            FIRST_IB=0
            
            JSON_IB="$JSON_IB"'{"target":"'"$TARGET"'","tags":"'"${TARGET/\//-}"'"}'

            if echo "$TARGET" | grep -E "x86/64|x86/generic|x86/geode|armvirt/32|armvirt/64|malta/be|mvebu/cortexa9"; then
              [[ $FIRST_ROOTFS -ne 1 ]] && JSON_ROOTFS="$JSON_ROOTFS"','
              FIRST_ROOTFS=0

              JSON_ROOTFS="$JSON_ROOTFS"'{"target":"'"$TARGET"'","arch":"'"$ARCH"'"}'
            fi
          done <<< "$(perl ./scripts/dump-target-info.pl targets 2>/dev/null | grep $TARGET_FILTER)"

          JSON_IB='{"include":'"$JSON_IB"']}'
          echo -e "\n---- imagebuilders ----\n"
          echo "$JSON_IB"
          echo -e "\n---- imagebuilders ----\n"
          echo "imagebuilders=$JSON_IB" >> "$GITHUB_OUTPUT"

          JSON_ROOTFS='{"include":'"$JSON_ROOTFS"']}'
          echo -e "\n---- rootfs ----\n"
          echo "$JSON_ROOTFS"
          echo -e "\n---- rootfs ----\n"
          echo "rootfs=$JSON_ROOTFS" >> "$GITHUB_OUTPUT"

          # sdks
          JSON='['
          FIRST=1

          while read -r line;
          do
            ARCH=$(echo "$line" | cut -d " " -f 1)
            TARGET=$(echo "$line" | cut -d " " -f 2)
            TARGETS=$(echo "$line" | cut -d " " -f 2- | sed -e 's/ /\\n/g')

            [[ $FIRST -ne 1 ]] && JSON="$JSON"','
            FIRST=0

            JSON="$JSON"'{"arch":"'"$ARCH"'","target":"'"$TARGET"'","tags":"'"$ARCH"'\n'"$TARGETS"'"}'
          done <<< "$(perl ./scripts/dump-target-info.pl architectures 2>/dev/null | grep $TARGET_FILTER)"

          JSON='{"include":'"$JSON"']}'
          echo -e "\n---- sdks ----\n"
          echo "$JSON"
          echo -e "\n---- sdks ----\n"
          echo "sdks=$JSON" >> "$GITHUB_OUTPUT"

          echo "release=$RELEASE" >> "$GITHUB_OUTPUT"
          SUFFIX=${REF:+-$REF}
          SUFFIX=${SUFFIX:--master}
          echo "suffix=$SUFFIX" >> "$GITHUB_OUTPUT"

  push-imagebuilder-container:
    name: ImageBuilder
    runs-on: ubuntu-latest
    needs: generate_matrix
    strategy:
      fail-fast: False
      matrix: ${{fromJson(needs.generate_matrix.outputs.imagebuilders)}}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to Quay.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/imagebuilder
            docker.io/openwrt/imagebuilder,enabled=${{ github.repository_owner  == 'openwrt' }}
            quay.io/openwrt/imagebuilder,enabled=${{ github.repository_owner  == 'openwrt' }}
          flavor: |
            latest=false
            suffix=${{ needs.generate_matrix.outputs.suffix }}
          tags: ${{ matrix.tags }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.unify
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            DOWNLOAD_FILE=imagebuilder-.*x86_64.tar.xz
            RELEASE=${{ needs.generate_matrix.outputs.release }}
            TARGET=${{ matrix.target }}

  push-sdk-container:
    name: SDK
    runs-on: ubuntu-latest
    needs: generate_matrix
    strategy:
      fail-fast: False
      matrix: ${{fromJson(needs.generate_matrix.outputs.sdks)}}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to Quay.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/sdk
            docker.io/openwrt/sdk,enabled=${{ github.repository_owner  == 'openwrt' }}
            quay.io/openwrt/sdk,enabled=${{ github.repository_owner  == 'openwrt' }}
          flavor: |
            latest=false
            suffix=${{ needs.generate_matrix.outputs.suffix }}
          tags: ${{ matrix.tags }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.unify
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            DOWNLOAD_FILE=sdk-.*.Linux-x86_64.tar.xz
            RELEASE=${{ needs.generate_matrix.outputs.release }}
            TARGET=${{ matrix.target }}
          labels: ${{ steps.meta.outputs.labels }}

  push-rootfs-container:
    name: RootFS
    runs-on: ubuntu-latest
    needs: generate_matrix
    strategy:
      fail-fast: False
      matrix: ${{fromJson(needs.generate_matrix.outputs.rootfs)}}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to Quay.io Container Registry
        if: ${{ github.repository_owner  == 'openwrt' }}
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/rootfs
            docker.io/openwrt/rootfs,enabled=${{ github.repository_owner  == 'openwrt' }}
            quay.io/openwrt/rootfs,enabled=${{ github.repository_owner  == 'openwrt' }}
          flavor: |
            latest=false
            suffix=${{ needs.generate_matrix.outputs.suffix }}
          tags: |
            ${{ matrix.target }}
            ${{ matrix.arch }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile.unify
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            DOWNLOAD_FILE=openwrt-.*-rootfs.tar.gz
            WORKDIR=/
            USER=root
            RELEASE=${{ needs.generate_matrix.outputs.release }}
            TARGET=${{ matrix.target }}
            BASE_IMAGE=scratch
            CMD=ash
          labels: ${{ steps.meta.outputs.labels }}
